body{background-color:rgb(219, 233, 92)
}
h1{text-align: center;
color: rgb(2, 2, 63);
}
h2 {text-align: center;
color: rgb(2, 2, 63);
}
#img1{width: 25%;
    margin-left: 37%;
}
#img2{width: 25%;
    margin-left: 37%;
}
